<div class="card">
    <header class="card-header has-background-success is-shadowless">
        <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
            <font class="is-size-6-mobile">{{ device.data.kind }}</font>
            <button class="info-icon" data-target="modal-device">
                <span class="icon has-text-white-bis is-size-6-mobile">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                </span>
            </button>
        </p>
    </header>
    <div class="card-content has-text-centered">
        <div class="field is-grouped is-grouped-multiline is-grouped-centered">
           {{#each device.data.hazards}}
           <p class="control">
               <button class="hazards" data-target="hazard-{{hazard.id}}">
                   <span class="tag is-medium is-danger">
                       {{hazard.name}}
                   </span>
               </button>
           </p>
           {{/each}}
        </div>

        <form id="form-data" action="device/{{ device.info.metadata.id }}" method="post">
            <input type="hidden" name="_method" value="put">
            <!-- SLIDERS -->
            {{#each device.controls}}
            {{#if (eq input.kind "Slider")}}
            <div class="field mt-6 is-centered">
                <label class="label">{{ input.name }}</label>
                <div class="control">
                    <input type="range" name="{{ input.name }}" min="{{ input.min }}" max="{{ input.max }}" step="{{ input.step }}" value="{{ input.value }}" onchange="sendForm()">
                </div>
            </div>
            {{/if}}
            {{/each}}
            <!-- CHECKBOXES -->
            <div class="field mt-6 is-grouped is-grouped-centered">
                {{#each device.controls}}
                {{#if (eq input.kind "Checkbox")}}
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="{{ input.name }}" value ="{{ input.value }}" onclick="sendForm()">
                            {{ input.name }}
                        </label>
                    </div>
                {{/if}}
                {{/each}}
            </div>
            <!-- BUTTONS -->
            <div class="field mt-6 is-grouped is-grouped-multiline is-grouped-centered">
                {{#each device.controls}}
                <div class="control">
                {{#if (eq input.kind "Button")}}
                    <button class="button {{#if input.with_state }} is-warning {{/if}}" name="{{ input.name }}" onclick="sendForm()">{{ input.name }}</button>
                {{/if}}
                </div>
                {{/each}}
            </div>
            <!-- SEND FORM ON CHANGE -->
            <div hidden><input id="send-form" type="submit" value=""></div>
        </form>
    </div>
</div>


<script type="text/javascript">

function sendForm() {
  document.getElementById("send-form").click();
}

</script>
