{{#each this.data.routes_configs}}
{{#each this.hazards}}
<div id="hazard-{{ this.id }}" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>{{ this.name }}</p>
      {{ this.description }}
      {{ this.category.name }}
      {{ this.category.description }}
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>

{{/each}}
{{/each}}
