{{#each hazards}}
<div id="hazard-{{ this.id }}" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <div class="content">
          <h1>{{ this.name }}</h1>

          <p>{{ this.description }}</p>
          <p>{{ this.category.name }}</p>
          <p>{{ this.category.description }}</p>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>

{{/each}}
