{{#each device.hazards}}
<div id="hazard-{{hazard.name}}" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>{{ hazard.name }}</p>
      {{ hazard.description }}
      {{ hazard.category.name }}
      {{ hazard.category.description }}
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
{{/each}}
